nav {
    /* background-color: rgb(51, 63, 0); */
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-top: 20px;
}

.signature-logo {
    width: 40%;
    display: inline-block;
    text-align: left;
    transition: all ease-in-out 0.3s;
}

.signature-logo.smaller {
    width: 25%;
}

li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    transition: all ease-in-out 0.15s;
    color: white;
}

li:hover {
    color: rgb(115, 255, 232);
    transform: translate(0, -2px);
}

.signature-logo:hover {
    transform: translate(0, -3px) scale(1.1);
}