nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.signature-logo {
    width: 65%;
    display: inline-block;
    text-align: left;
    transition: all ease-in-out 0.5s;
}

.signature-logo.smaller {
    width: 45%;
}

.signature-logo:hover {
    transform: translate(3px, -3px) scale(1.05);
}

@media only screen and (min-width: 800px) {
    .signature-logo {
        width: 516px;
    }
    
    .signature-logo.smaller {
        width: 230px;
    }
}

li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    transition: all ease-in-out 0.15s;
    color: white;
}

li:hover {
    color: rgb(115, 255, 232);
    transform: translate(0, -2px);
}