main, .app {
  margin-top: 0;
  padding-top: 0;
}

.fiverr {
  font-size: 100px;
  font-weight: bold;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
  color: white;
  display: block;
}

.fiverr:hover {
  transform: scale(1.05) translate(0px, -3px);
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

iframe {
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.7);
}
